Package: gocrypto
Version: 1.0.1
Architecture: amd64
Maintainer: Mehul Sharma <mehul.sharma213@gmail.com>
Installed-Size: 7603
Depends: libc6 (>= 2.3.2)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
